<div class="Detailinfo" [@slideInOut]>
  <mat-card class="InfoCard">
    <mat-card-header>
      <img mat-card-avatar src="https://picsum.photos/300/300/?random" />
      <mat-card-title>{{data.name}}</mat-card-title>
      <mat-card-subtitle>{{data.id}}</mat-card-subtitle>
      <span class="navbar-seprator"></span>
      <button mat-icon-button class="icon-button">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="icon-button" (click)="close()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card-header>
    <img mat-card-image src="https://picsum.photos/1000/300/?random" alt="Photo of a Shiba Inu" style="width: fit-content">
    <mat-card-content>
      <p>
          There is no passion to be found playing small, in settling for a life that is less than the one you are capable of living.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
